
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("Navidad.gif") no-repeat center center fixed;
  background-size: cover;

  overflow: hidden;
}


.envelope {
  width: 700px;
  height: 470px;
  position: relative;
  background: #428504;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.712);
}

.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #fa1111;
  clip-path: polygon(0 0, 100% 0, 50% 55%);
  transition: transform 0.8s ease;
  transform-origin: top;
  z-index: 3;
}

.letter {
  position: absolute;
  top: 120%; /* empieza escondida */
  left: 50%;
  transform: translateX(-50%);


  width: 80%;
  height: 85%;
  background: #fa1111;
  border-radius: 18px;
  padding: 5px;
  text-align: center;


  transition: top 0.9s ease, opacity 0.6s ease;
  z-index: 2;
  opacity: 0;


  box-shadow: 0 12px 28px rgba(0,0,0,0.25);
}


.open .letter {
  top: 55px; 
  opacity: 1;
}


.letter h2 {
  margin-top: 0;
  color: #b71c1c;
}


.open .flap {
  transform: rotateX(180deg);
}


.open .letter {
  top: 25px;
}


.hint {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

.letter h2 {
  margin-top: 0;
  color: #ffffff;
}

.open .flap {
  transform: rotateX(180deg);
}

.open .letter {
  top: 25px;
}

.hint {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

/* Nieve */
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;


  /* puntos de nieve */
  background-image: radial-gradient(white 1.2px, transparent 1.2px);
  background-size: 28px 28px; /* m치s separaci칩n = menos nieve */


  animation: snowDiagonal 90s linear infinite; /* m치s lento */
  opacity: 0.5;
}


@keyframes snowDiagonal {
  from {
  background-position: -100vw -100vh; /* inicia arriba a la izquierda */
  }
  to {
  background-position: 100vw 100vh; /* termina abajo a la derecha */
  }
}
to {
  background-position: -100vw 100vh;
}



@keyframes snow {
  from { background-position: 0 0; }
  to { background-position: 0 100vh; }
}

.final {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #ffeaea; /* blanco navide침o */
  display: block;
  margin-top: 15px;
}

.letter p {
  color: #f5f5f5; /* texto suave */
  font-size: 16px;
  line-height: 1.6;
}
